 <!--header section start -->
<div class="header_section">
    <!-- banner section start -->
    <div class="banner_section">
        <div class="container-fluid padding_0">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="padding_left_0">
                                    <h1 class="retailer_text">Kami Menyediakan Jasa Konsultan IT Professional</h1>
                                    <p class="search_text"> </p>
                                    <div class="btn_main">
                                        @*<div class="more_bt"><a href="#">Read More </a></div>
                                        <div class="contact_bt"><a href="#">Get A Quote</a></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><img src="~/images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="padding_left_0">
                                    <h1 class="retailer_text">Kami Menyediakan Jasa Konsultan IT Professional</h1>
                                    <p class="search_text"> </p>
                                    <div class="btn_main">
                                        @*<div class="more_bt"><a href="#">Read More </a></div>
            <div class="contact_bt"><a href="#">Get A Quote</a></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><img src="~/images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="padding_left_0">
                                    <h1 class="retailer_text">Kami Menyediakan Jasa Konsultan IT Professional</h1>
                                    <p class="search_text"> </p>
                                    <div class="btn_main">
                                        @*<div class="more_bt"><a href="#">Read More </a></div>
            <div class="contact_bt"><a href="#">Get A Quote</a></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><img src="images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-left"><img src="images/left-arrow.png"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-right"><img src="images/right-arrow.png"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->
@*<div class="image_main">
    <div class="container-fluid">
        <div class="image_2">
            <div class="image_0">
                <div><a href="#"><img src="images/play-icon.png" class="play_icon"></a></div>
            </div>
            <h2 class="see_text">SEE <span style="color: #470005;">Consulting</span> KATALOG</h2>
        </div>
    </div>
</div>*@
<div class="advisor_section">
    <div class="container">
        <h1 class="what_text">What We Do</h1>
    </div>
</div>
<div class="advisor_section_2 layout_padding">
    <div class="container">
        <div class="box_section">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="box_main">
                        <div class="image_3"></div>
                        <h4 class="consultative_text">Web Design Development</h4>
                        <p class="readable_text" style="text-align:justify">
                            Melayani design website & development website  baik untuk perusahaan , didukung oleh tenaga ahli designer yang professional,sehingga penampilan website terlihat menarik dan bermutu mendukung image perusahaan ataupun personal
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="box_main active">
                        <div class="image_5 active"></div>
                        <h4 class="consultative_text active">Perdagangan Alat IT</h4>
                        <p style="text-align:justify" class="readable_text active">
                            Kami menyediakan perdagangan alat komputer sebagai berikut :
                            Komputer
                            Router switch
                            Firewall
                            Wifi / Access point
                            Licensi windows & Microsoft
                            Oprating dan application softwer
                            Virtual storage compter machine SAN or server
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="box_main">
                        <div class="image_4"></div>
                        <h4 class="consultative_text">Android Mobile Application</h4>
                        <p style="text-align:justify" class="readable_text">
                            Dengan aplikasi Android, pelanggan dapat dengan mudah mengakses layanan Anda melalui perangkat seluler. Ini memberikan kenyamanan yang lebih besar bagi pelanggan untuk memesan layanan dari mana saja dan kapan saja dan memudahkan untuk dalam proses bekerja
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="box_section">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="box_main">
                        <div class="image_3"></div>
                        <h4 class="consultative_text">IT Consulting</h4>
                        <p class="readable_text" style="text-align:justify">
                            Menyediakan layanan di bidang konsultasi IT secara professional seperti
                            Identifikasi masalah dan menjawab perkembangan  IT yang multi disiplin.
                            Menyusun kerangka bagi pengembangan IT terhadap siklus program kerja berfungsi untuk unit kerja.
                            Membantu sistem IT yang mencakup proses kerja dan pengolahan data tanpa menggunakan kertas
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="box_main active">
                        <div class="image_5 active"></div>
                        <h4 class="consultative_text active">Network Management</h4>
                        <p style="text-align:justify" class="readable_text active">
                            Network management adalah  bagian  dari kebutuhan pembangun infrastruktur dan jaringan komunikasi LAN dan WAN.
                            Layanan ini untuk merancang jaringan komputer dan device lainnya yang terhubung ke internet.
                            Kami menyediakan pemasangan mulai desain kabel jaringan radio ke radio dengan jarak antar Gedung yang jauh, wifi, mikrotik, hub, wireless.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="box_main">
                        <div class="image_4"></div>
                        <h4 class="consultative_text">CCTV</h4>
                        <p style="text-align:justify" class="readable_text">
                            Menyediakan layanan di bidang jasa pemasangan CCTV  dengan monitoring menggunakan Handphone android memudahkan untuk melihat kegiatan di sekitar tanpa melihat dari monitor dan dapat memutar kembali history rekaman CCTV
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div><img src="~/images/about-us.png" class="image_8"></div>
            </div>
            <div class="col-sm-6">
                <h1 class="about_taital">About Us</h1>
                <p class="lorem_text">
                    Email   : cv.satriamandiri74@gmail.com
                </p>
                <p class="lorem_text">
                    Kontak  : 0822-8343-3882
                </p>
                <p class="lorem_text">
                    Alamat  : Tanjung Permai Jl.Garuda VII Blok A no 188, Tanjung Uban
                </p>
                @*<div class="more_bt"><a href="#">Read More </a></div>*@
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- portfolio section start -->
<div class="portfolio_section layout_padding">
    <div class="container">
        <h1 class="what_text">Our Work Portfolio</h1>
    </div>
    <div class="container-fluid">
        <div class="images_section">
            <div class="row">
                <div class="col-sm-4 padding_0">
                    <div class="container_1">
                        <img src="images/img-9.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text"><img src="images/search-icon.png"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding_0">
                    <div class="container_1">
                        <img src="images/img-10.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text"><img src="images/search-icon.png"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding_0">
                    <div class="container_1">
                        <img src="images/img-11.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text"><img src="images/search-icon.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 padding_0">
                    <div class="container_1">
                        <img src="images/img-12.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text"><img src="images/search-icon.png"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding_0">
                    <div class="container_1">
                        <img src="images/img-13.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text"><img src="images/search-icon.png"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 padding_0">
                    <div class="container_1">
                        <img src="images/img-14.png" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text"><img src="images/search-icon.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_section_2 layout_padding">
        <div class="container">
            <h1 class="best_taital">
                We Are Providing
                Best Business Service
            </h1>
            <p class="best_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="get_bt"><a href="https://wa.link/bmv9pt">Konsultasi</a></div>
        </div>
    </div>
</div>

<div class="footer_section layout_padding mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h4 class="address_text">ADDRESS</h4>
                <p class="simply_text">
                    Tanjung Permai Jl.Garuda VII Blok A no 188, Tanjung Uban
                </p>
            </div>
           
        </div>
    </div>
</div>